@import './demo.less';

#app {
  .navbar .site-name {
    font-size: 1.7rem;
    color: #08b841;
  }
  .search-box {
    width: 500px;
    input {
      width: 100%;
      height: unset !important;
      line-height: 2.375rem !important;
      background-position: 0.5rem 0.6rem !important;
    }
    .suggestions {
      width: 100%;
    }
  }
  .demo-block .meta {
    background: none;
    border-radius: 0;
  }
  .theme-antdocs-content pre[class*='language-'] {
    margin: 0;
  }
  .theme-antdocs-content > table {
    width: 100%;
    display: table;
    td:nth-child(3) {
      width: 22%;
      color: #c41d7f;
    }
  }
  .sidebar-links {
    .sidebar-link,
    .sidebar-heading {
      line-height: 45px;
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      display: block;
    }
  }
}

.theme-container {
  &.index {
    .logos {
      margin: 30px;
      text-align: center;
    }
    .sign {
      font-size: 30px;
      color: #aaa;
      margin: 0 20px;
    }
    img {
      height: 130px;
    }
    .logo {
      height: 115px;
    }
  }
  &.quick-start ol {
    margin-top: 20px;
  }
}

.theme-antdocs-content {
  h1 {
    padding-bottom: 1rem;
    border-bottom: 1px solid #eaecef;
  }
  h1 + p {
    margin-bottom: 1rem;
  }
}
