#app {
  .navbar .site-name {
    font-size: 1.7rem;
    color: #08b841;
  } 
  .search-box {
    width: 500px;
    input {
      width: 100%;
      height: unset !important;
      line-height: 2.375rem !important;
      background-position: 0.5rem 0.6rem !important;;
    }
    .suggestions {
      width: 100%;
    }
  }

  .demo-block .meta {
    background: none;
    border-radius: 0;
  }
  .theme-antdocs-content pre[class*='language-'] {
    margin: 0;
  }
  .demo-block-control {
    position: relative;
    left: 0 !important;
  }
}

.demo-container {
  .ant-row:not(:last-child) {
    margin-bottom: 30px;
  }
  .ant-col {
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    &:nth-child(2n + 1) {
      background-color: rgba(0, 146, 255, 0.75);
    }
    &:nth-child(2n) {
      background-color: #0092ff;
    }
  }
}