/*
 * @Author : jaydon
 * @Date   : 2021-06-23 10:31
 * @WeChat : i-vshow
 * @Email  : vshow@dooomi.com
 * @Blog   : http://dooomi.com
 */

$sm: 768;
$md: 1200;

@mixin mobile {
  @media (max-width: #{$sm - 1}px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$sm}px) and (max-width: #{$md - 1}px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$md}px) {
    @content;
  }
}

@mixin no-desktop {
  @media (max-width: #{$md - 1}px) {
    @content;
  }
}

@mixin no-mobile {
  @media (min-width: #{$sm}px) {
    @content;
  }
}

:export {
  breakpoint_sm: $sm;
  breakpoint_md: $md;
}
